@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400;500&family=Mansalva&family=Palanquin+Dark:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  cursor: url(./images/mouse.png), auto;
  overflow-x: hidden;
}

:root {
  --blue: hsla(194, 100%, 57%, 1);
  --light: hsla(127, 66%, 96%, 1);
  --white: #fff;
  --gold: hsla(39, 86%, 55%, 1);
  --deep-cyan: hsla(126, 50%, 11%, 1);
  --red: hsla(7, 86%, 55%, 1);
  --grey: hsla(0, 0%, 43%, 1);
}

/* Utilities */

ul,
li {
  list-style: none;
  overflow: visible;
}
a {
  font-family: "Jost", sans-serif;
  overflow: visible;
  font-weight: 500;
  font-size: 1.125rem;
  text-decoration: none;
  color: var(--light);
  line-height: 1.5rem;
  cursor: url(./images/pointer.png);
}

a:hover {
  color: var(--gold);
  cursor: url(./images/pointer.png), auto;
  transition: color 0.4s ease;
}

.slim {
  font-family: "Jost", sans-serif;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.688rem;
  overflow: visible;
}

.text-secondary {
  color: var(--grey);
}
.italics {
  font-family: "Mansalva", sans-serif;
  overflow: visible;
}
.heading {
  font-family: "Palanquin Dark", sans-serif;
  font-weight: 500;
  overflow: visible;
}
h1 {
  font-weight: 700;
  font-size: 5.313rem;
  color: var(--light);
}

span {
  color: var(--red);
}

.flex {
  display: flex;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.grid-2 {
  grid-template-columns: repeat(2, 1fr);
  overflow: visible;
}

.mt-3 {
  margin-top: 1rem;
}

.my-4 {
  margin-block: 1.5rem;
}

.py-3 {
  padding-inline: 1rem;
}

.btn {
  background-color: var(--gold);
  color: var(--light);
  /* width: 8rem; */
  font-size: 1.125rem;
  border: none;
  border-radius: 0.5rem;
  padding: 0.2rem 0.5rem;
  cursor: url(./images/pointer.png), auto;
}

.btn:hover {
  background-color: var(--deep-cyan);
  color: var(--gold);
  box-shadow: 0 0.2rem 0.5rem 0 rgba(0, 0, 0, 0.2);
  transform: scale(0.95);
  transition: all 0.4s ease;
}

.text-primary {
  font-size: 1.875rem;
  color: var(--blue);
}

.text-navy {
  color: var(--deep-cyan);
}

body {
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
}

header {
  position: relative;
}



/* Navbar  */
.ham {
  /* width: 24px;
  height: 32px; */
  overflow: visible;
  visibility: hidden;
}
.navbar {
  margin: 0 auto;
  justify-content: space-between;
  width: 100%;
  padding: 2rem 7.5rem 1rem 10rem;
}

nav {
  gap: 1rem;
  justify-content: center;
  align-items: center;
}
.navbar-links {
  justify-content: space-between;
  gap: 3rem;
  color: var(--light);
}
.nav-btn {
  padding: 0.7rem 1.5rem;
  margin-inline: 6rem 1rem;
}

/* Hero */
.hero-section {
  background: url(./images/Rectangle\ 6.svg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  text-align: center;
  overflow: visible;
}

.hero {
  padding-block: 5rem;
  width: 100%;
}

.hero-p {
  color: var(--light);
  font-size: 2.5rem;
}

.hero-p1 {
  color: var(--light);
  padding-inline: 20.8rem;
}

.hero-btn {
  margin-block: 2rem;
  padding: 1rem 5rem;
}

/* Showcase */
.showcase {
  padding-block: 3rem 20rem;
  text-align: center;
  width: 100%;
  background: url(./images/Rectangle\ 7.svg);
  background-size: cover;
}

.showcase-ideas {
  gap: 4rem;
  padding-inline: 6rem;
  width: 100%;
}
.showcase .heading {
  font-size: 3.125rem;
}

.ideas {
  text-align: justify;
  width: 100%;
}

.ideas img.illustration {
  width: 100%;
}

.rating {
  justify-content: space-between;
}
.ideas .heading {
  font-size: 1.2rem;
}

.ideas p.slim {
  margin-block: 1rem;
  font-size: 1.1rem;
  line-height: 1.875rem;
}

.ideas-btn {
  width: 100%;
  margin-top: 1rem;
  padding-block: 1rem;
}

/* tour cont */

.tour-container {
  width: 100%;
  padding: 8rem;
  gap: 1.5rem;
  position: relative;
}

/* .tour-container .grid-2 {
  place-items: center;
} */

.tour-text {
  background-color: #effcf1;
  text-align: left;
  padding: 2rem;
  /* width: 45.563rem; */
  margin: 0 auto;
  border-radius: 10px;
}

.tour-text .heading {
  /* padding-right: 30rem; */
  line-height: 1.5;
  overflow: visible;
}

.tour-text p {
  font-weight: 400;
  font-size: 1.3rem;
  /* padding-right: 7rem; */
  margin-top: 2rem;
}

.tour-img {
  position: relative;
  right: 3rem;
  top: 18rem;
}

/* .tour-img img {
  width: 45rem;
} */

/* testimonials */

.testimonials {
  position: relative;
  text-align: center;
  padding: 5rem;
  width: 100%;
  background-color: #effcf1;
}

.testimonials img {
  margin-block: 2rem 0;
}

.testimonials h2 {
  font-weight: 700;
  font-size: 3.125rem;
}

.client-name {
  font-size: 1.75rem;
}

.tourist {
  font-size: 1.625rem;
  margin-top: 1rem;
}
.remarks {
  padding-inline: 20rem;
  margin-block: 2rem;
}

.remarks::before {
  content: url(./images/Vector.svg);
  position: relative;
  right: 8rem;
  top: 3.5rem;
}

.remarks::after {
  content: url(./images/akar-icons_arrow-up.svg);
  position: absolute;
  right: 20rem;
  bottom: 11.5rem;
}

/* Footer */
footer {
  padding: 3rem 4rem 1rem 4rem;
  background-color: var(--deep-cyan);
  color: var(--white);
}
.footer-container {
  grid-template-columns: repeat(3, 1fr);
  gap: 6.5rem;
  padding-block: 1rem;
}

.summary {
  width: 100%;
}

.summary h2 {
  /* margin-block: 1rem; */
  width: 100%;
}

.summary p {
  line-height: 1.8;
  margin-top: 1rem;
  width: 100%;
}

.grid-2 {
  margin-top: 1.3rem;
  line-height: 1.5;
  font-size: 1.125rem;
}

.menu,
.menu ul,
.menu li {
  overflow: visible;
}
.grid-2 li {
  margin-top: 1rem;
  cursor: url(./images/pointer.png), auto;
  transition: all 0.4s ease;
  height: 100%;
}

.grid-2 li:hover {
  color: var(--gold);
  cursor: url(./images/pointer.png), auto;
}

.subscribe {
  font-weight: 700;
  font-size: 1.2rem;
}

input {
  margin-top: 1rem;
  border: none;
  border-radius: 5px;
  background-color: var(--white);
  width: 100%;
  padding: 1.4rem;
  font-size: 1.2rem;
  outline: none;
  overflow: visible;
}

input:focus {
  box-shadow: 0 0 2rem 0 var(--gold);
}

input::placeholder {
  font-size: 1.2rem;
  align-items: center;
}

.embed {
  padding: 0.7rem 0.6rem;
  position: relative;
  left: 14.6em;
  bottom: 3.6rem;
}

.socials {
  margin-top: 1rem;
  justify-content: end;
  gap: 2rem;
}

.terms {
  margin-right: 3rem;
}
.icons-cont {
  gap: 1rem;
  /* justify-content: space-between; */
}

/* Media Queries */

/* @media screen and (max-width: 1024px) {
body {
  overflow-x: hidden;
}

.hero {
  padding-block: 3rem;
}
  .hero-p {
    color: var(--light);
    font-size: 2rem;
  }
  
  .hero-p1 {
    color: var(--light);
    padding-inline: 20.8rem;
  }

} */

/* Tablet View */

@media screen and (max-width: 900px) {
  /* body{
  background-size: cover;
  background-position: center;
} */

  .hero-section {
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    overflow: visible;
  }
  .navbar {
    padding: 3rem 5rem 1rem 4rem;
    overflow: visible;
  }

  h1 {
    font-size: 3rem;
    line-height: 1;
  }

  .hero-p {
    color: var(--light);
    font-size: 2rem;
  }

  .hero-p1 {
    padding-inline: 7.8rem;
    margin-top: 1rem;
  }
  .logo {
    justify-content: start;
  }

  nav {
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    padding-block: 1rem 1.6rem;
    padding-inline: 3%;
    background-color: var(--deep-cyan);
    border-top: 0.2rem solid var(--gold);
    box-shadow: 0 0 2rem 1rem rgba(0, 0, 0, 0.2);
    flex-direction: column;
    align-items: flex-start;
    text-align: justify;
    gap: 0;
    transition: all 0s ease;
    visibility: hidden;
  }

  .view {
    visibility: visible;
    transition: all 0.2s ease;
  }

  nav ul {
    flex-direction: column;
  }

  nav a {
    display: block;
    padding: 0;
  }
  .nav-btn {
    width: 20%;
    margin: 1rem 0;
  }
  .ham {
    overflow: visible;
    display: block;
    visibility: visible;
    /* padding: 1rem; */
  }

  .showcase {
    padding-block: 3rem 5rem;
  }

  .showcase-ideas {
    grid-template-columns: repeat(2, 1fr);
  }

  .ideas {
    padding: 0;
  }

  .tour-container {
    padding: 2rem;
    display: flex;
    flex-direction: column;
  }
  .tour-img,
  .tour-img img {
    inset: 0;
    width: 100%;
  }

  .remarks {
    padding: 0;
  }

  .remarks::after,
  .remarks::before {
    display: none;
  }

  .footer-container {
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
    padding-block: 1rem;
  }

  .grid-2 li {
    margin-top: 0.5rem;
  }

  input {
    width: 100%;
  }

  .embed {
    position: relative;
    left: 31.5rem;
  }
  .terms {
    margin-right: 0;
  }
}

/* Mobile View */

@media screen and (max-width: 460px) {
  body {
    overflow-x: hidden;
  }
  .hero-section {
    height: 100vh;
  }

  
  .slim {
    font-size: 1rem;
  }
  .navbar {
    width: 100%;
    padding: 0.5rem 3rem 1rem 1rem;
  }
  .navbar img.logo {
    width: 30%;
  }

  .nav-btn {
    width: 30%;
    margin: 1rem 0;
  }

  .my-4 {
    font-size: 0.7rem;
  }

  h1 {
    font-size: 2rem;
    line-height: 1;
  }
  .hero-p {
    color: var(--light);
    font-size: 1.5rem;
  }

  .hero {
    padding-block: 8rem;
  }

  .hero-p1 {
    padding-inline: 1rem;
    margin-top: 0.5rem;

  }

  .hero-btn {
    padding: 1rem 2rem;
    width: initial;
  }

  .text-primary {
    font-size: 1.3rem;
  }

  .showcase {
    padding-inline: 2rem;
  }

  .showcase-ideas {
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    padding: 0;
  }
  .showcase .heading {
    font-size: 2rem;
  }

  .ideas .heading {
    font-size: 1.4rem;
  }

  .tour-img img {
    width: 100%;
  }
  .tour-container {
    width: 100%;
    padding: 0rem;
    gap: 1.5rem;
    position: relative;
  }

  .tour-text {
    width: 100%;
    padding: 1rem 2rem;
    text-align: justify;
  }

  .tour-text .heading {
    font-size: 2rem;
    padding: 0;
    width: 100%;
  }

  .tour-text p {
    font-size: 1rem;
    padding: 0;
  }

  .tour-text img {
    width: initial;
  }
  .embed {
    position: relative;
    inset: 0;
    margin-top: 0.8rem;
    width: 100%;
  }

  .testimonials {
    padding: 1rem 0;
  }

  .testimonials h2 {
    font-weight: 700;
    font-size: 2rem;
  }

  .testimonials img {
    width: initial;
  }

  .client-name {
    font-size: 1rem;
  }

  .remarks {
    padding-inline: 1rem;
  }

  .socials {
    gap: 1rem;
    justify-content: center;
  }

  footer {
    width: 100%;
    padding: 2rem;
  }

  .terms {
    margin-right: 1rem;
  }

  .menu {
    width: 100%;
  }

  .menu ul {
    gap: 0.8rem;
  }

  .menu li {
    padding-inline: 0.7rem;
  }

  input::placeholder {
    font-size: 1rem;
    align-items: center;
  }
  /* .embed img {
    width: initial;
  } */
}
